body {
  font-family: sans-serif;
  background-color: #fff8d8;
  margin: 0;
  padding: 0;
}
.header {
  background-color: white;
}
.footer {
  background-color: white;
}
.main {
  margin: 1em;
}
h1 {
  font-size: 150%;
  margin: .5em 0;
  padding: 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}
