body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: white;
  padding: 0 .5em;
}
.footer {
  background-color: white;
  padding: 0 .5em;
}
.main {
  background-color: #fff8d8;
  padding: 1em;
}
h10 {
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}
.ichigojam {
 font-family: "ichigojam";
 white-space: pre-wrap;
 background: #000;
 color: white;
 padding: .5em 1em;
 margin: 10px 0em;
 line-height: 1.3em;
 letter-spacing: 0px;
 font-size: 85%;
 width: 590px;
 word-break: break-all;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.section {
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: white;
  overflow-wrap: break-word;
}